VITE_API_URL=http://localhost:5000/api/v1
VITE_CDN_URL=https://cdn.vjit-it.ac.in
VITE_APP_NAME=VJIT IT Academic Hub AI
VITE_DEPT_NAME=Department of Information Technology
VITE_COLLEGE_NAME=Vidya Jyothi Institute of Technology
